* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

body{
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}
/*
main *{
    border: 1px solid red;
}
*/

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;

}
body * {
    font-family: "Inter";
    line-height: 160%;
}
header {
    margin-top: 32px;
    height: calc(120px + 32px);
    
}
header div:hover{
    transform: scale(1.1);
}
header div {
    margin: auto;
    width: 120px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;

    transition: transform.3s;
}

header img {
    width: 100%;
    border-radius: 50%;
}

section{ 
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;

    transition: transform.3s;
}

section h2 { /* todos os h2 de todas as sections vão ter um pequeno espaço */
    letter-spacing: -0.47px;
}
section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}
/*.p2 { /* peguei a classe e diminuí o texto
    font-size: 5px;
}*/
section ul {
    display: flex; /*serve pra botar todo mundo alinhado na horizontal */
    flex-wrap: wrap;
    gap: 16px; /* vai colocar todos numa distancia de 16 pixels*/
    margin-top: 24px; /*margem entre os elementos de todas as sessões ul*/

}
section ul li {
    transition: transform .3s ;
}
section ul li:hover{ /* quase que dá errado se não tivesse juntado o hover com o resto, não dÊ espaço nos dois pontos */
    transform: scale(1.1);
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}
.channel-list img {
    border: 1px solid #443E54;
    border-radius: 50%;
    width: 70px;
}
/* animaçawn */
header div {
    animation: fromTop .7s .1s backwards; /*backwards serve para ele usar a animação que foi mencionada embaixo pra não ficar esquisito
    /* animation-delay: 1s;  */
    /* animation dalay pode ser mencionado sem escrever o nome dele, bora o segundo que quiser no animation normal depois do primeiro segundo */
}
main section{
    animation: fromBottom .4s .1s backwards;
}
main section:nth-child(1){
    animation-delay: .0s;
}
main section:nth-child(2){
    animation-delay: .3s;
}
main section:nth-child(3){
    animation-delay: .6s;
}

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}